/* dark theme palette */
/* misc */
body {
  background-color: #121212;
}

.restricted-width {
  display: inline-block;
  width: 10vw;
}

.bq {
  color: #aa6690;
  font-weight: bold;
  font-style: italic;
  margin: 1em 3em;
  padding-left: 1em;
  border-left: 5px solid #7cfcfc;
}

.bq p:before {
  content: '"';
}

.bq p:after {
  content: '"';
}

.rxn-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3d4f5d;
  color: #fff;
}

.rxn-nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.rxn-nav-list,
.rxn-nav-item {
  position: relative;
}

.rxn-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rxn-nav-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.rxn-nav-head {
  text-transform: capitalize;
  font-weight: bolder;
}

.rxn-nav-link,
.rxn-nav-head {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
/*# sourceMappingURL=master.css.map */