.about .about-text{
    padding-left: 5rem;
    font-size: 1.2rem;

}
.about .rotate{
    position: absolute;
    top: 7rem;
}
.about .about-line{
    transform: rotate(90deg);
}
.about-line::after{
    position: absolute;
    content: "";
    top: 10px;
    right: -80px;
    background: #222222;
    width: 70px;
    height: 2px;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}