.restricted-width{
    display: inline-block;
    width: $restricted-width;
}
.bq {
    color: rgb(170, 102, 144);
      font-weight: bold;
      font-style: italic;
      margin: 1em 3em;
      padding-left: 1em;
    border-left: 5px solid #7cfcfc; 
    p:before {
      content: '"'; }
    p:after {
        content: '"'; }
  }