.rxn-nav {
    box-sizing: border-box;
    background: rgb(61, 79, 93);
    color: #fff;
}

.rxn-nav-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.rxn-nav-list,
.rxn-nav-item {
    position: relative;
}

.rxn-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rxn-nav-item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.rxn-nav-head {
    text-transform: capitalize;
    font-weight: bolder;
}

.rxn-nav-link,
.rxn-nav-head {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}